.App {
  text-align: center;
  

}

/* body {
  background-image: url('../wall.jpg');
  position: relative;
  background-position: center;
  background-color: aliceblue;
  object-fit: cover;
  object-position: 80% 100%;
} */








